# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Python build files
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
